<div class="header-menu">
    <div class="header-menu-item">
        <a [routerLink]="['/']">
            <p>Accueil</p>
        </a>
    </div>

    <div class="header-menu-item" *ngIf="sharedDataService.isConnected()">
        <p>Connecté en tant que : {{sharedDataService.getConnectedUser()?.firstname}}  {{sharedDataService.getConnectedUser()?.lastname}} ({{sharedDataService.getConnectedUser()?.role}})</p>
    </div>
    
    <div class="header-menu-item" *ngIf="!sharedDataService.isConnected()">
        <button (click)="goSignIn()">Connexion</button>
        <button (click)="goSignUp()">Inscription</button>
    </div>
    
    <div class="header-menu-item" *ngIf="sharedDataService.isConnected()">
        <button (click)="disconnectUser()">Déconnexion</button>
    </div>
</div>
